# Xcode
.DS_Store
*/build/
*.os
*.xcodeproj/project.xcworkspace/
!*.xcodeproj/project.xcworkspace/xcshareddata/
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
